h1 {
	text-align: center;
	margin-left: auto;
}

#attribution-area {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 2em;
	margin-bottom: 2em;
	justify-content: center;
}

#attribution-area > div {
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.attribution-logo {
	max-height: 10em;
	max-width: 10em;
}

.chooser-area {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 2em;
	margin-bottom: 2em;
	justify-content: center;

	border-top-color: #AAAAAA;
	border-top-width: 1px;
	border-bottom-color: #AAAAAA;
	border-bottom-width: 1px;
}

.chooser-area > div {
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.flex-area {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 2em;
	margin-bottom: 2em;
	justify-content: center;
}

.flex-area > div {
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.hidden-area {
	display: none;
}

#timeline-embed {
	min-height: 50vh;
	width: 100%;
}

.tl-timenav {
	/*height: 20% !important;
	overflow: visible !important;*/
}

.tl-menubar {
	/*height: 20% !important;
	overflow: visible !important;*/
}

.tl-storyslider {
	/*max-height: 80% !important;*/
	min-height: 5em !important;
	display: block;
	/*overflow-y: hidden;*/
}

.tl-storyslider iframe.tl-media-item {
	max-height: 100% !important;
}

.tl-storyslider * .tl-slidenav-next {
	/*overflow: visible;*/
}

.tl-slide-content {
	box-sizing: content-box;
}

.tl-slide-content * {
	box-sizing: content-box;
}

.tl-slide-content .tl-text-content p {
	text-align: justify;
}

.tl-media-image {
	max-width: 200px !important;
	max-height: 200px !important;
}
