{% extends "base.j2" %}
{% block content %}

	<div class="container-fluid">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<h1>Day Like Today Clone</h1>
		</div>
		<div class="col-md-2"></div>
	</div>


	<div id="attribution-area">
		<div>
			<a href="http://el.dbpedia.org/">
				<img class="attribution-logo" src="static/img/DBpediaLogo.svg" alt="DBPedia">
			</a>
		</div>
		<div>
			<a href="https://www.wikipedia.org/">
				<img class="attribution-logo" src="static/img/wiki.png" alt="wikipedia">
			</a>
		</div>
	</div>



	<div class="chooser-area">
		<div>
			<label>Category</label>
			<select class="category-chooser" class="mini-input">
				{% for category in categories %}
				<option value="{{category}}">{{category}}</option>
				{% endfor %}
			</select>
		</div>
		<div></div>
		<!-- <div>
			<label>Month</label>
			<select id="month-chooser" class="mini-input">
				{% for month in months %}
				<option value="{{loop.index}}">{{month}}</option>
				{% endfor %}
			</select>
		</div>
		<div>
			<label>Day</label>
			<select id="day-chooser" class="mini-input">
				{% for day in days %}
				<option value="{{loop.index}}">{{day}}</option>
				{% endfor %}
			</select>
		</div>-->
		<!-- <div>
			<label>Language</label>
			<select id="language-chooser" class="mini-input">
				{% for language in languages %}
				<option value="{{loop.index}}">{{language}}</option>
				{% endfor %}
			</select>
		</div> -->
		<div>
			<form class="submit-form">
				<button class="btn btn-primary" type="submit">What happened?!</button>
			</form>
		</div>
	</div>

	<!-- Timeline JS -->
	<div id="timeline-embed">

	</div>

	<!-- Highcharts JS -->
	<div id="container" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto">

	</div>

	<div id="authors-area" class="flex-area">
		<div><label>Authors:</label></div>
		<div><span>Christian Günther</span></div>
		<div><span>Christopher Rohrlack</span></div>
		<div><span>Hans-Werner Roitzsch</span></div>
		<div><span>Jonny Leuschner</span></div>
		<div><span>Johannes Reger</span></div>
		<div><span>Christian Wille</span></div>
	</div>

	<div class="flex-area">
		<div>
			<a class="btn" href="https://github.com/hwroitzsch/DayLikeTodayClone">
				<img src="static/img/github-icon.png"> GitHub Project
			</a>
		</div>
	</div>
{% endblock %}
