{% extends "base.j2" %}
{% block content %}
	<div class="container">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<h1>Day Like Today Clone</h1>
		</div>
		<div class="col-md-2"></div>
	</div>
{% endblock %}